@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: "Poppins-Medium";
  src: url("./fonts/poppins/Poppins-Medium.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Poppins-Medium !important;
}

:root {
  font-family: Poppins-Medium !important;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.p-button,
.p-inputtext,
.p-datatable,
.p-dialog,
.p-dropdown,
.p-component {
  font-family: Poppins-Medium !important;
}
.loader-hidden {
  display: none;
}
